.card__img {
  height: 230px;
  width: 180px;
}

.characteres__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  list-style: none;
  padding: 0px;
}

.card__link {
  text-decoration: none;
  color: white;
}

.list__card {
  background-color: rgb(230, 36, 69);
  width: 180px;
  height: 330px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 2px 3px red;
}

.card__name {
  font-size: 18px;
  font-weight: 800;
  font-family: 'Segoe UI';
  letter-spacing: 0.3px;
  margin: 5px 0px 40px 0px;
}

.card__house {
  font-size: 14px;
  margin: 0px 0px 5px 0px;
}

.App {
  text-align: center;
  margin: 0;
  height: 100%;
  text-align: center;
}

.detailCard__list-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: rgb(230, 36, 69);
  width: 400px;
  margin: auto;
  padding: 0px;
  border: 1px solid black;
  color: white;
  box-shadow: 4px 5px red;
}

.detailCard__wraper {
  margin-top: 150px;
}

.detailCard__image {
  margin-right: 20px;
  height: 230px;
  width: 180px;
}

.detailCard__death-icon {
  width: 15px;
  height: 15px;
  position: relative;
  left: 10px;
  top: 3px;
}